[submodule "packages/tealtiger-python"]
	path = packages/tealtiger-python
	url = https://github.com/agentguard-ai/tealtiger-python-prod.git
[submodule "packages/tealtiger-sdk"]
	path = packages/tealtiger-sdk
	url = https://github.com/agentguard-ai/tealtiger-typescript-prod.git
